th {
  width: 100px;
}

/*background-color: #3c3a33;*/
//body  {
//}
//
//* {
//  box-sizing: border-box;
//}

/*  border: 3px rgba(255, 0, 0, 0.123) solid;*/
//header {
//  position: relative;
//  background-color: #6a6a6a;
//  min-height: 50px;
//  min-width: 100%;
//}
//
//.LogoPersonPage {
//  float: left;
//  color: greenyellow;
//  position: relative;
//}
//
//nav {
//  position: absolute;
//  bottom: 0;
//  right: 0;
//}
//
//ul {
//  margin: 0;
//  list-style-type: none;
//}
//
//nav a {
//  color: black;
//  margin-right: 15px;
//  text-decoration: none;
//}
//
//.navbar {
//  background-color: limegreen;
//}

.nav-item {
  margin: 5px;
}
